{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSameLine": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
